* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  top: 0;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  position: fixed;
  opacity: 1;
  z-index: 5;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

#header-logo {
  margin-left: 10px;
  height: 50px;
}

#header-navbox {
  display: inline-flex;
  list-style-type: none;
}

.navlinks {
  margin: 10px;
  font-weight: normal;
}

#mission {
  background-image: url(./images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.main {
  top: 70px;
  position: relative;
  width: 100%;
  justify-content: center;
}

.footer {
  display:block;
  position: relative;
  top: 70px;
  width: 100%;
  flex-grow: 1;
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

#copyright {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
